@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --color-primario: #131842;
    --color-secundario:#E68369;
    --color-terciario: #ECCEAE;
    --color-hover: #272727;

    --font-Montserrat: "Montserrat", sans-serif;
    --font-Krona: "Krona One", sans-serif;
}

*{
    padding: 0;
    margin: 0;
}
body{
    background-color: var(--color-primario);
    color: var(--color-secundario);
    /* height: 100vh; */
    box-sizing: border-box;
}
.header{
    padding: 2% 0% 0% 18%;

}
.header-menu{
    display: flex;
    gap: 80px;

}
.header-menu-link{
    color: var(--color-terciario);
    font-size: 1.5rem;
    font-family: var(--font-Montserrat);
    font-weight: 600;
    text-decoration: none;
}
.presentacion{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7% 18%;
    /* text-align: center; */
    gap: 82px;
    
}

.presentacion-contenido{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}


.presentacion-contenido-titulo{
    font-size: 2.25rem;
    font-family: var(--font-Krona);
}
.titulo-destaque{
    color: var(--color-terciario);
}
.presentacion-contenido-parrafo{
    font-size: 1.5rem;
    font-family: var(--font-Montserrat);
    font-weight: 400;
    
    
}

.presentacion-enlaces{
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.presentacion-enlaces-subtitulo{
    /* color: #f6f6f6; */
    font-family: var(--font-Krona);
    font-size: 1.5rem;
    font-weight: 400;
}

.presentacion-enlaces-link{
    width: 50%;
    border-radius: 8px;
    padding: 21.5px 0;
    text-align: center;
    color: var(--color-secundario);
    text-decoration: none;
    font-family: var(--font-Montserrat);
    font-size: 1.5rem;
    font-weight: 600;
    border: 2px solid var(--color-terciario);
    display: flex;
    justify-content: center;
    gap:16px

}

.presentacion-enlaces-link:hover{
    background-color: var(--color-hover);
}

.presentacion-imagen{
    width: 50%;
}
.footer{
    background-color: var(--color-terciario);
    font-family: var(--font-Montserrat);
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--color-primario);
    text-align: center;
    padding: 1.5rem 0;


}


@media (max-width : 1200px){
    .presentacion{
        flex-direction: column-reverse;
    }
    .header{
        padding: 10%;
    }
    .header-menu{
        justify-content: center;
    }
    .presentacion-contenido{
        width: auto;
    }

}


